@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script>
        function submitForm() {
            const urlInput = document.getElementById('urlInput').value;
            const messageElem = document.getElementById('message');

            fetch('/shorten', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({longUrl: urlInput})
            }).then((response) => {
                if (response.ok) {
                    response.json().then((data) => { message.textContent = `Shortened URL = ${location.origin}/${data.slug}` });
                } else {
                    response.json().then((data) => { message.textContent = data.LongUrl[0] });
                }
            }).catch((reason) => {
                console.log(reason);
            })
        }

        const form = document.getElementById('urlForm');
        form.addEventListener('submit', (event) => {
            event.preventDefault();
            submitForm();
        });
    </script>
}

<div class="text-center">
    <h1 class="display-4">URL Shortner</h1>
    <p>Enter a long URL to be shortened below.</p>
    <form id="urlForm">
        <div class="form-group">
            <input type="url" class="form-control" id="urlInput" />
        </div>
        <br />
        <button type="submit" class="btn btn-primary" id="submitBtn">Shorten</button>
        <br />
        <p id="message"></p>
    </form>
</div>
